In [4]:
import pandas as pd

filename = "C:\\Users\\ac29019\\Downloads\\GDP.xls";

In [7]:
df = pd.read_excel(filename, skiprows=10, index_col='observation_date', parse_dates=True)

In [9]:
df['1947-01':'1947-10']

                      GDP
observation_date
1947-01-01        243.164
1947-04-01        245.968
1947-07-01        249.585
1947-10-01        259.745