In [5]:
import pandas as pd

In [ ]:
df = pd.read_csv('http://bit.ly/kaggletrain')

#### **Check dtypes within the Series**

In [5]:
df.Cabin.apply(type).value_counts(dropna=False)

<class 'float'>    687
<class 'str'>      204
Name: Cabin, dtype: int64

## **Currency cleanup in mixed datatype columns**

In [16]:
# prepare dataframe

data_map = {
    'carname':['maruthi','honda','yamaha'],
    'price': ['$1,000', 2000, '$40,200']
}

cars_orig = pd.DataFrame(data_map)

print(cars_orig.head())

   carname    price
0  maruthi   $1,000
1    honda     2000
2   yamaha  $40,200

In [18]:
# method 1
cars1 = cars_orig.copy()

print(cars1.price.apply(type).value_counts(),'\n')

cars1.price = cars1.price.apply(lambda x: x.replace('$','').replace(',','') if isinstance(x,str) else x).apply(float)

print(cars1.price.apply(type).value_counts(),'\n')

<class 'str'>    2
<class 'int'>    1
Name: price, dtype: int64

<class 'float'>    3
Name: price, dtype: int64

In [20]:
# method 2
cars2 = cars_orig.copy()

print(cars2.price.apply(type).value_counts(),'\n')

cars2.price = cars2.price.replace({'\$':'', ',':''},regex=True).astype(float)

print(cars2.price.apply(type).value_counts(),'\n')

<class 'str'>    2
<class 'int'>    1
Name: price, dtype: int64

<class 'float'>    3
Name: price, dtype: int64

In [21]:
# method 3

# Specify the column type while reading the file itself

# df = pd.read_excel('data.xlsx', dtype={'price':str})

# then perform normal replace operation.

#Example: df['price'] = df['price'].str.replace(',','').str.replace('$','').astype('float')

## **Combine Multiple Excel Worksheets Into a Single Pandas Dataframe**

In [23]:
workbook_url = 'https://github.com/chris1610/pbpython/raw/master/data/2018_Sales_Total_Tabs.xlsx'

all_dfs = pd.read_excel(workbook_url, sheet_name=None)

In [25]:
all_dfs.keys()

odict_keys(['Sheet1', 'Sheet2', 'Sheet3', 'Sheet4', 'Sheet5', 'Sheet6'])

In [26]:
all_dfs['Sheet1'].head()

,account number,name,sku,quantity,unit price,ext price,date
0,412290,Jerde-Hilpert,S2-77896,43,76.66,3296.38,2018-03-04 23:10:28
1,383080,Will LLC,S1-93683,28,90.86,2544.08,2018-03-05 05:11:49
2,729833,Koepp Ltd,S1-30248,13,44.84,582.92,2018-03-05 17:33:52
3,424914,White-Trantow,S2-82423,38,50.93,1935.34,2018-03-05 21:40:10
4,672390,Kuhn-Gusikowski,S1-50961,34,48.20,1638.80,2018-03-06 11:59:00

In [29]:
df_all_together = pd.concat(all_dfs, ignore_index=True)

df_all_together.shape

(299, 7)

In [31]:
## One  line

df_all_one_shot = pd.concat(pd.read_excel(workbook_url, sheet_name=None), ignore_index=True)

df_all_one_shot.shape

#end

(299, 7)

#### **Specify column type on loading the file itself**

In [24]:
data_dict = {
    'names': ['bandham','seenu','balaji'],
    'ages': [35,27,20]
}

data_dtypes = { 'names': 'str', 'ages': 'str' }

data_df = pd.DataFrame(data_dict)
print(data_df.dtypes, '\n')

file_name = 'test_data.csv';
data_df.to_csv(file_name, index=False);

df_2 = pd.read_csv(file_name, dtype=data_dtypes)

print(df_2.dtypes)

names    object
ages      int64
dtype: object

names    object
ages     object
dtype: object