### **1. Using LabelEncoder**

In [8]:
data_dict = {'name':['bandham','mani','mani','bandham','kanta'],
            'color':['red','blue','blue','black','black']}

import pandas as pd

df = pd.DataFrame(data_dict)

df

      name  color
0  bandham    red
1     mani   blue
2     mani   blue
3  bandham  black
4    kanta  black

In [23]:
from sklearn.preprocessing import LabelEncoder

lbe_names = LabelEncoder()
lbe_colors = LabelEncoder()

df['name_encoded'] = lbe_names.fit_transform(df['name'])
df['color_encoded'] = lbe_colors.fit_transform(df['color'])

df

      name  color  name_encoded  color_encoded
0  bandham    red             0              2
1     mani   blue             2              1
2     mani   blue             2              1
3  bandham  black             0              0
4    kanta  black             1              0

In [24]:
print(lbe_names.classes_, lbe_colors.classes_)

['bandham' 'kanta' 'mani'] ['black' 'blue' 'red']

### **2. Using Panda's get_dimmies()**

In [17]:
data_dict = {'name':['bandham','mani','mani','bandham','kanta'],
            'color':['red','blue','blue','black','black']}

import pandas as pd

df = pd.DataFrame(data_dict)

df

      name  color
0  bandham    red
1     mani   blue
2     mani   blue
3  bandham  black
4    kanta  black

In [22]:
pd.get_dummies(df)

   name_bandham  name_kanta  name_mani  color_black  color_blue  color_red
0             1           0          0            0           0          1
1             0           0          1            0           1          0
2             0           0          1            0           1          0
3             1           0          0            1           0          0
4             0           1          0            1           0          0

### **3**