### **How to sort dataframes and series**

In [1]:
import pandas as pd

movies = pd.read_csv('http://bit.ly/imdbratings')

In [4]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

#### **Sorting Series**

In [12]:
# Sorting Series :1
movies['content_rating'].sort_values(ascending=False)
# type(movies['content_rating']) ==> pandas.core.series.Series

486           X
86            X
387           X
913           X
802     UNRATED
         ...
52     APPROVED
253    APPROVED
187         NaN
649         NaN
936         NaN
Name: content_rating, Length: 979, dtype: object

In [13]:
# Sorting Series :2
movies.content_rating.sort_values(ascending=False)

486           X
86            X
387           X
913           X
802     UNRATED
         ...
52     APPROVED
253    APPROVED
187         NaN
649         NaN
936         NaN
Name: content_rating, Length: 979, dtype: object

#### **Sorting dataframe**

In [17]:
# sorting df based on one specifi column
movies.sort_values('content_rating').head()

,star_rating,title,content_rating,genre,duration,actors_list
253,8.1,The Big Sleep,APPROVED,Crime,114,"[u'Humphrey Bogart', u'Lauren Bacall', u'John ..."
52,8.5,The Great Dictator,APPROVED,Comedy,125,"[u'Charles Chaplin', u'Paulette Goddard', u'Ja..."
107,8.3,For a Few Dollars More,APPROVED,Western,132,"[u'Clint Eastwood', u'Lee Van Cleef', u'Gian M..."
612,7.7,A Hard Day's Night,APPROVED,Comedy,87,"[u'John Lennon', u'Paul McCartney', u'George H..."
58,8.5,Paths of Glory,APPROVED,Drama,88,"[u'Kirk Douglas', u'Ralph Meeker', u'Adolphe M..."

In [18]:
# sort df on multiple columns
movies.sort_values(by=['content_rating','title']).head()

,star_rating,title,content_rating,genre,duration,actors_list
612,7.7,A Hard Day's Night,APPROVED,Comedy,87,"[u'John Lennon', u'Paul McCartney', u'George H..."
95,8.4,All About Eve,APPROVED,Drama,138,"[u'Bette Davis', u'Anne Baxter', u'George Sand..."
521,7.8,Belle de Jour,APPROVED,Drama,101,"[u'Catherine Deneuve', u'Jean Sorel', u'Michel..."
410,7.9,Bonnie and Clyde,APPROVED,Biography,111,"[u'Warren Beatty', u'Faye Dunaway', u'Michael ..."
285,8.1,Bringing Up Baby,APPROVED,Comedy,102,"[u'Katharine Hepburn', u'Cary Grant', u'Charle..."