In [5]:
df_map = {'eggs':[47,110,221],
         'salt':[12.0,50.0,89.0],
         'spam':[17,31,72]}
import pandas as pd
df = pd.DataFrame(df_map)
df.index = ['Jan', 'Feb', 'Mar']
df.index.name = 'month'
df

       eggs  salt  spam
month
Jan      47  12.0    17
Feb     110  50.0    31
Mar     221  89.0    72

In [32]:
print(df.loc['Jan','eggs'])
print('********')
print(df['eggs']['Jan'])
print('********')
print(df.loc[['Jan'],['eggs']])

47
********
47
********
       eggs
month
Jan      47

In [30]:
print(df.loc[:,['salt','eggs']])
print('*********')
print(df[['salt','eggs']])

       salt  eggs
month
Jan    12.0    47
Feb    50.0   110
Mar    89.0   221
*********
       salt  eggs
month
Jan    12.0    47
Feb    50.0   110
Mar    89.0   221