#### **Create time series data for testing**

In [15]:
import pandas as pd

num_rows = 365 * 24 #8760

df = pd.util.testing.makeTimeDataFrame(num_rows, freq='D') 
# H for hours

df.head()

                   A         B         C         D
2000-01-01 -0.675828  0.424219 -0.276450  0.591251
2000-01-02 -0.409587 -0.485634 -0.325292 -0.586518
2000-01-03  0.669503 -0.121472 -0.587667 -1.434240
2000-01-04 -1.206056 -0.412663 -0.237147  2.284959
2000-01-05 -0.940677 -0.016952 -1.217390  1.522565